<div class="row">
  <div class="form-group search-bar">
    <br>
    <%= form_tag id: 'seach-form' do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search', class: 'form-control' %>
    <% end %>
  </div>
</div>